.hoverblock {
    position: relative;

    &__section {}

    &__top {
        position: relative;
        display: flex;
        gap: calc($index * 2);
        padding-bottom: 50px;

        @media screen and (max-width: 576px) {
            flex-direction: column;
        }
    }

    &__name {
        position: absolute;
        top: 50px;
        left: 0;
        font-family: $fontSecondary;
        font-size: 180px;
        font-size: calc($index * 4.75);
        font-weight: 600;
        line-height: 90%;
        letter-spacing: 11px;
        text-transform: uppercase;
        opacity: 0.08;
        background: linear-gradient(180deg, #212121 30%, rgba(33, 33, 33, 0.5) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 0;
        // white-space: nowrap;

        @media screen and (max-width: 576px) {
            display: none;
        }
    }

    &__title {
        font-size: 36px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 150%;
        width: calc(62% - 15px);
        padding-right: 10%;
        // font-size: calc($index * 1.25);
        // line-height: calc($index * 1.85);

        @media screen and (max-width: 991px) {
            font-size: 32px;
            padding-right: 0;
        }

        @media screen and (max-width: 767px) {
            font-size: 28px;
            padding-right: 0;
        }

        @media screen and (max-width: 576px) {
            font-size: 26px;
            width: 100%;
            text-align: center;
        }

        span,b,strong {
            color: $red;
            font-weight: 500;
        }
    }

    &__description {
        display: block;
        width: calc(38% + 15px);
        line-height: 150%;

        span {
            color: $red;
        }

        @media screen and (max-width: 576px) {
            width: 100%;
            text-align: center;
        }
    }

    &__bottom {
        position: relative;
        z-index: 1;
        display: flex;
        flex-wrap: wrap;
        gap: 25px;

        @media screen and (max-width: 767px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 576px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: calc($index / 2);
        padding: 30px;
        position: relative;
        justify-content: flex-start;
        align-items: center;
        border-radius: 20px;
        background: #F2F2F2;
        backdrop-filter: blur(12px);
        transition: all .5s ease;
        flex: 1 1 100%;

        @media screen and (max-width: 1199px) {
            padding: 40px;
        }

        @media screen and (max-width: 991px) {
            padding: 30px;
        }

        &:hover {
            background: $red;

            .hoverblock__subtitle {
                color: $white;
            }

            .hoverblock__text {
                color: $white;
            }
        }

        &-30 {
            flex: 1 1 calc(33% - 15px);

            @media screen and (max-width: 991px) {
                flex: 1 1 calc(50% - 17px);
            }

            @media screen and (max-width: 576px) {
                flex: 1 1 100%;
            }
        }

        &-50 {
            flex: 1 1 calc(50% - 17px);

            @media screen and (max-width: 576px) {
                flex: 1 1 100%;
            }
        }
    }

    &__subtitle {
        font-size: 26px;
        font-weight: 600;
        line-height: 100%;
        font-family: $fontSecondary;
        transition: all .5s ease;
        color: $red;

        @media screen and (max-width: 1199px) {
            font-size: 24px;
        }

        @media screen and (max-width: 991px) {
            font-size: 20px;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        transition: all .5s ease;
    }
}