.moto {
    border-bottom: 1px solid #dedede;
    padding-bottom: calc($index * 1.2);

    &__title {
        font-size: 36px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 150%;
        width: 100%;
        padding-right: 18%;
        // font-size: calc($index * 1.25);
        // line-height: calc($index * 1.85);

        @media screen and (max-width: 991px) {
            font-size: 32px;
            padding-right: 0;
        }

        @media screen and (max-width: 767px) {
            font-size: 28px;
            padding-right: 0;
        }

        @media screen and (max-width: 576px) {
            text-align: center;
            font-size: 26px;
        }

        span,b,strong {
            color: $red;
            font-weight: 500;
        }
    }
}