.news {
    position: relative;
    padding-left: calc(calc(100% - 1270px) / 2 + 20px);

    @media screen and (max-width: 1449px) {
        padding-left: calc(calc(100% - 1200px) / 2 + 20px);
    }

    @media screen and (max-width: 1217px) {
        padding-left: 20px;
    }

    &__section {
        margin: calc($index * 1.5) 0;
        border-radius: 30px;
        // border-top: 1px solid rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        // background: rgba(0, 0, 0, 0.04);
    }

    &__top {
        position: relative;
        display: flex;
        gap: calc($index * 2);
        padding-bottom: 50px;
    }

    &__title {
        font-size: 36px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 150%;
        padding-right: 10%;
        // font-size: calc($index * 1.25);
        // line-height: calc($index * 1.85);

        @media screen and (max-width: 991px) {
            font-size: 32px;
            padding-right: 0;
        }

        @media screen and (max-width: 767px) {
            font-size: 28px;
            padding-right: 0;
        }

        @media screen and (max-width: 576px) {
            text-align: center;
            font-size: 26px;
        }

        span,b,strong {
            color: $red;
            font-weight: 500;
        }
    }

    &__bottom {
        position: relative;
        z-index: 1;
    }

    .slider__link {
        position: absolute;
        left: 22px;
        top: calc($index * 10.4 - 70px);
    }

    .slider__pagination {
        @media screen and (max-width: 576px) {
            flex-direction: column;
        }
    }

    .discuss {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        @media screen and (max-width: 576px) {
            position: relative;
            top: unset;
            transform: unset;
            margin-top: 30px;
        }
    }
}
