.partners {
    position: relative;

    &__section {
        margin: calc($index * 1.5) 0;
        // border-radius: 30px;
        // border-top: 1px solid rgba(0, 0, 0, 0.2);
        // border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        // background: rgba(0, 0, 0, 0.04);
    }

    &__bg {
        background: $black;
        margin-top: calc($index * 1.5);
    }

    &__top {
        position: relative;
        display: flex;
        gap: calc($index * 2);
        padding-bottom: 50px;

        @media screen and (max-width: 576px) {
            flex-direction: column;
        }
    }

    &__title {
        font-size: 36px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 150%;
        width: calc(62% - 15px);
        padding-right: 10%;
        // font-size: calc($index * 1.25);
        // line-height: calc($index * 1.85);

        @media screen and (max-width: 991px) {
            font-size: 32px;
            padding-right: 0;
        }

        @media screen and (max-width: 767px) {
            font-size: 28px;
            padding-right: 0;
        }

        @media screen and (max-width: 576px) {
            font-size: 26px;
            width: 100%;
            text-align: center;
        }

        span,b,strong {
            color: $red;
            font-weight: 500;
        }
    }

    &__description {
        display: block;
        width: calc(38% + 15px);
        line-height: 150%;

        @media screen and (max-width: 767px) {
            width: 100%;
            text-align: center;
        }

        .discuss {
            margin-top: $index;
        }
    }

    &__name {
        position: absolute;
        top: 50px;
        left: 0;
        font-family: $fontSecondary;
        font-size: 180px;
        font-size: calc($index * 6.27);
        font-weight: 600;
        line-height: 150%;
        letter-spacing: 11px;
        text-transform: uppercase;
        opacity: 0.08;
        background: linear-gradient(180deg, #212121 0%, rgba(33, 33, 33, 0.00) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 0;
        white-space: nowrap;
    }

    &__bottom {
        position: relative;
        z-index: 1;
    }

    .slider {

        &__text {
            width: 100%;
        }

        &__title {
            color: $white;
            text-align: center;
            padding-right: 0;

            a {
                color: $white;
                transition: all .5s ease;

                &:hover {
                    color: $red;
                }
            }
        }

        &__description {
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
        }

        &__item {
            padding: calc($index / 2);
            // min-width: 300px;
            // max-width: 300px;
            height: 300px;
            border-right: 1px solid #646464;
            // min-width: calc($index * 10.4);
            // max-width: calc($index * 10.4);
            // height: calc($index * 10.4);
        }

        &__img {
            padding: calc($index);
            margin: 0;
            height: calc(100% - 70px);
            width: auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .swiper-container {

        &:after {
            display: none;
        }
    }
}