.slider {
    width: fit-content;
    position: relative;
    z-index: 1;

    &__wrapper {
        position: relative;
    }

    &__img {
        width: 100%;
        height: 320px;
        // height: calc($index * 12.4);
        overflow: hidden;
        border-radius: 15px;
        margin-bottom: calc($index);
        display: flex;
        align-items: flex-start;

        @media screen and (max-width: 576px) {
            width: calc(100% - 20px);
          }

        img {
            width: 100%;
            height: auto;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
    }

    &__text {
        *+* {
            margin-top: 15px;
        }
    }

    &__title {
        font-size: 20px;
        line-height: 120%;
        padding-right: 25px;
        font-family: $fontSecondary;

        a {
            color: $black;
            transition: all .5s ease;

            &:hover {
                color: $red;
            }
        }
    }

    &__description {
        color: #C6C2C2;
        font-size: 16px;
        text-transform: capitalize;
        position: relative;
        padding-left: 25px;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            width: 16px;
            height: 14px;
            background: url("../img/symbol-small-red.svg") center center no-repeat;
            background-size: contain;
        }

        span+span {
            padding-left: 2px;
            position: relative;

            &:before {
                content: "/ ";
                color: $red;
            }
        }
    }

    &__link {
        display: flex;
        flex: 0 0 48px;
        width: 48px;
        height: 48px;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        background: $red;
        border-radius: 15px;
        transition: all .5s ease;

        &:hover {
            background: $black;
        }

        img {
            width: 32px;
            height: 32px;
        }
    }

    &__pagination {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: calc($index * 2) 0 $index;
        position: relative;
    }
}